<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Användare</title>
</head>
<body>
<h1>Registrerade användare</h1>

<table border="1">
  <thead>
  <tr>
    <th>ID</th>
    <th>Användarnamn</th>
    <th>Roll</th>
    <th>Samtyckt</th>
    <th>Radera</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="appuser : ${appusers}">
    <td th:text="${appuser.id}"></td>
    <td th:text="${appuser.username}"></td>
    <td th:text="${appuser.role}"></td>
    <td th:text="${appuser.consentGiven}"></td>
    <td>
      <form th:action="@{'/appusers/delete/' + ${appuser.id}}" method="post">
        <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
        <button type="submit">Radera</button>
      </form>
    </td>
  </tr>
  </tbody>
</table>

</body>
</html>
